#col-title {
    margin: auto;
}

#title {
    font-size: 23px;
}

ion-row{
    margin: auto;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 0;
}

ion-button {
    width: 100%;
}

tr {
    border-bottom: 1px solid black;
    background-color: white;
}

ion-badge {
    cursor: pointer;
    margin: 2px 2px;
    padding: 5px 5px;
    box-shadow: 1px 1px 3px rgb(73, 73, 73);
}