<form [formGroup]="form" (ngSubmit)="register()" id="register-form">
    <legend>
        <label class="label-bold">Não possui cadastro?</label>
        <label class="label-soft">Cadastre-se</label>
    </legend>
    
    <input type="text" placeholder="Nome" formControlName="name" required>

    <input type="email" placeholder="Email" formControlName="username" required>
    
    <input type="password" placeholder="Senha" formControlName="password" required>

    <button>Cadastrar</button>
</form>