<ion-content>
  <ion-row>
    <ion-col id="col-title" size="8">
      <ion-label id="title">Secretarias</ion-label>
    </ion-col>
    <ion-col size="4">
      <ion-button (click)="reload()" color="tertiary">Recarregar</ion-button>
    </ion-col>
  </ion-row>
  <data-table [headerTitles]="titles" [width]="90">
      <tr *ngFor="let department of departments" (click)="selectDepartment( department )">
        <td>{{ department.name }}</td>
        <td>
          <ion-badge>Detalhes</ion-badge>
        </td>
      </tr>
      <tr *ngIf="!departments || !departments.length">
        <td colspan="100">Não há secretarias, clique no botão Recarregar para obter atualizações</td>
      </tr>
  </data-table>
</ion-content>