<div id="body">
    <navbar></navbar>

    <div id="content">
        
        <label>Selecione a categoria do serviço</label>
        
        <div id="box">
            <div class="title">access token:</div>
            <div class="token-body"> {{ token.accessToken }} </div>
            <div class="title">refresh token:</div>
            <div class="token-body"> {{ token.refreshToken }} </div>  
        </div>

        <div id="service-list">
            <div id="cards-row">
                <div *ngFor="let service of services" id="cards-col">
                    <card-button>
                        <label legend> {{ service }} </label>
                    </card-button>
                </div>
            </div>
        </div>

    </div>
</div>