#body {
    width: 100vw;
}
#content {
    margin: auto;
    margin-top: 60px;
    text-align: center;
}

#content > label {
    font-size: 25px;
    font-weight: bold;
}

#service-list {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
}

#cards-row {
    width: 100%;
    display: table;
    margin-left: 3%;
}

#cards-col {
    width: 30%;
    height: 20%;
    margin: auto;
    padding: 5px;
    float: left;
}

card-button {
    background-color: rgb(73, 73, 73);
}