* {
    text-align: start;
}

form {
    margin: auto;
    width: 98%;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(73, 73, 73);
}

ion-card {
    background-color: #cfcfcf;
}

h1 {
    text-align: center;
}

ion-input {
    box-shadow: 1px 1px 3px rgb(73, 73, 73);
    height: 30px;
    line-height: 25px;
    border-radius: 5px;
    --background: white;
    background-color: white;
    color: black;
}

ion-item > * {
    background-color: #cfcfcf;
    line-height: 10px;
}

ion-textarea {
    margin: left;
    color: black;
    margin-bottom: 10px;
    border-radius: 5px;
    --background: white;
    background-color: white;
    box-shadow: 1px 1px 3px rgb(73, 73, 73);
}

tr {
    border-top: 1px solid #454545;
    border-bottom: 1px solid #454545;
    background-color: white;
}

td {
    text-align: center;
}

ion-badge {
    cursor: pointer;
    margin: 2px 2px;
    padding: 5px 5px;
    box-shadow: 1px 1px 3px rgb(73, 73, 73);
}
