<ion-card>
  <ion-card-content>
    <form>
      <h1>Dados da solicitação</h1>

      <ion-row>
        <ion-col>
          <h2>Detalhes</h2>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-label>Serviço</ion-label>
          <ng-container *ngIf="!editDuty">
            <ion-input placeholder="{{ call.duty.description }}" readonly></ion-input>
          </ng-container>
          <ng-container *ngIf="editDuty">
            <ion-select [(ngModel)]="tempDuty.description" [ngModelOptions]="{standalone: true}">
              <ion-select-option 
                  *ngFor="let duty of duties"
                  (change)="changeDestination( duty.destination )" 
                  value="{{duty.description}}">{{duty.description}}</ion-select-option>
            </ion-select>
          </ng-container>
          <div class="question-radio">
            <label>O serviço está corente com a descrição? </label>
            <input [(ngModel)]="editDuty" type="radio" name="service-edition" [value]="false" checked> Sim
            <input [(ngModel)]="editDuty" type="radio" name="service-edition" [value]="true"> Não
          </div>
        </ion-col>

        <ion-col size="3">
          <ion-label>Protocolo</ion-label>
          <ion-input placeholder="{{call.protocol}}" readonly></ion-input>
        </ion-col>

        <ion-col size="2">
          <ion-label>Data</ion-label>
          <ion-input placeholder="{{call.created_at | date:'HH:mm -- d/MM/yy'}}" readonly></ion-input>
        </ion-col>

        <ion-col size="3">
          <ion-label>Autor</ion-label>
          <ion-input placeholder="{{call.author.name}}" readonly></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="5">
          <ion-label>Destinatário</ion-label>
          <ng-container *ngIf="!editDestination">
            <ion-input placeholder="{{call.destination.name}}" readonly></ion-input>
          </ng-container>
          <ng-container *ngIf="editDestination">
            <ion-select [(ngModel)]="tempDestination.name" [ngModelOptions]="{standalone: true}">
              <ion-select-option *ngFor="let dept of deptList" value="{{dept}}">{{dept}}</ion-select-option>
            </ion-select>
          </ng-container>
        </ion-col>

        <ion-col size="4">
          <ion-label>&nbsp;</ion-label>
          <div class="question-radio">
            <label>O órgão destinatário condiz com a descrição? </label>
            <input [(ngModel)]="editDestination" type="radio" name="dept-edition" [value]="false"> Sim
            <input [(ngModel)]="editDestination" type="radio" name="dept-edition" [value]="true"> Não
          </div>
        </ion-col>
        <ion-col>
          <ion-label>&nbsp;</ion-label>
          <ion-button color="success">Ver Imagens</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h2>Endereço</h2>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="2">
          <ion-label>Cep</ion-label>
          <ion-input placeholder="{{call.address.zip_code}}" readonly></ion-input>
        </ion-col>
        <ion-col size="4">
          <ion-label>Bairro</ion-label>
          <ion-input placeholder="{{call.address.district.name}}" readonly></ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-label>Logradouro</ion-label>
          <ion-input placeholder="{{call.address.public_place}}" readonly></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h2>Descrição</h2>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-textarea placeholder="{{call.description}}" id="text-area" rows="5" readonly></ion-textarea>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4" offset="8">
          <ng-container *ngIf="!editDestination">
            <ion-button color="tertiary">Adicionar Resposta</ion-button>
          </ng-container>
          <ng-container *ngIf="editDestination">
            <ion-button (click)="forward()" color="tertiary">Encaminhar</ion-button>
          </ng-container>
        </ion-col>
      </ion-row>
    </form>
  </ion-card-content>
</ion-card>