<navbar></navbar>

<ion-content>
    <!--div id="box">
        <div class="title">access token:</div>
        <div class="token-body"> {{ token?.accessToken }} </div>
        <div class="title">refresh token:</div>
        <div class="token-body"> {{ token?.refreshToken }} </div>  
    </div-->
    <ion-breadcrumbs>
        <ion-breadcrumb (click)="backToCategories()"> 
            Categoria 
            <span slot="separator">&gt;</span>
        </ion-breadcrumb>
        <ion-breadcrumb> {{ selectedCategory?.category }} </ion-breadcrumb>
    </ion-breadcrumbs>

    <ng-container *ngIf="selectedCategory == null">
        <div class="empty-space"></div>
        <ion-card 
            *ngFor="let category of categories" 
            (click)="selectCategory( category )">

            <ion-card-content > {{ category.category }} </ion-card-content>
        
        </ion-card>
    </ng-container>
    
    <ng-container *ngIf="selectedCategory != null">
        <div class="empty-space"></div>
        <ion-card
                *ngFor="let service of selectedCategory.services">

            <ion-card-content> {{ service }} </ion-card-content>

        </ion-card>
    </ng-container>

</ion-content>