* {
    --cards-per-row: 3;
    --card-width: 30%;
    --card-height: 20%;
}

.empty-space {
    float: left;
    width: 2.5%;
    height: 100%;
}

ion-card {
    float: left;
    width: var( --card-width );
    height: var( --card-height );
    cursor: pointer;
}

ion-icon {
    height: 15px;
    width: 15px;
}

#box{
    margin: auto;
}

#box > .title{
    margin-top: 5px;
    margin-bottom: 5px;
}

#box > .token-body {
    margin: auto;
    padding: auto;
    inline-size: 80%;
    overflow-wrap: break-word;
    background-color: #ededed;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid #0e0e0e;
    color:rgb(73, 73, 73);
}

ion-breadcrumb {
    cursor: pointer;
    --color: blue;
    --color-active: rgb(89, 60, 255);
}

@media screen and ( max-width: 750px ) {
    .empty-space {
        width: 1%;
    }
}

@media screen and ( max-width: 667px ) {

    .empty-space {
        width: 0%;
    }
}

@media screen and ( max-width: 650px ) {

    .empty-space {
        width: 2%;
    }

    ion-card {
        float:left;
        width: 90%;
        height: 40%;
    }
}