<!-- Displays the table of calls -->
<ng-container *ngIf="!selectedCall">

  <ion-button (click)="reload()">Refresh</ion-button>

  <table-data [headerTitles]="titles">

      <tr tbody-rows *ngFor="let obj of calls" (click)="selectCall( obj )">
        <td>{{ obj.duty.description }}</td>
        <td>{{ obj.address.district.name }}</td>
        <td>{{ obj.created_at | date }}</td>
        <td>{{ obj.author.name }}</td>
      </tr>

  </table-data>

</ng-container>

<!-- Displays the form of the selected call -->
<ng-container *ngIf="selectedCall">

  <call-form [call]="selectedCall"></call-form>

</ng-container>