ion-row{
    margin: auto;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 0;
}
ion-button {
    width: 100%;
}

tr {
    border-bottom: 1px solid black;
    background-color: white;
}

tr:hover {
    background-color: rgb(85, 85, 85);
    color: white;
    cursor: pointer;
}

#back-button {
    width: 25%;
    margin-left: 74%;
}