ion-toolbar {
    color: white;
    --background: var( --default-main-color );
    height: 100%;
}

ion-content{
    --background: var( --default-background-color );
}

ion-list {
    display:grid;
    --background: inherit;
}

ion-item {
    margin: 0;
    color: black;
    --background: inherit;
}

ion-avatar {
    text-align: center;
    display: grid;
}

ion-icon {
    margin: auto;
    font-size: 30px;
}
.md .list-md {
    padding: 0;
    margin: 0;
}

.item-title, .active-item  {
    font-weight: bold;
}

.active-item {
    color: white;
    --background: var( --default-main-color );
}

.active-item:hover {
    color: white;
}

ion-popover {
    --offset-y: 18px;
    --offset-x: 10px;
}

#avatar-icon, .account-menu > * {
    cursor: pointer;
}

.account-menu > *:hover {
    color: white;
    --background: #454545;
}