
<ion-header id="main-content">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Macaé Fiscaliza</ion-title>
    <ion-avatar slot="end">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<side-menu contentId="body">
  <ion-content content>
    <ion-list contentId="body">
      
      <ion-item *ngFor="let path of paths" 
                [routerLink]="path.url"
                routerDirection="root"
                (click)="closeMenu()">{{ path.label }}</ion-item>

    </ion-list>
  </ion-content>
</side-menu>