
<ion-header id="main-content">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Macaé Fiscaliza</ion-title>
    <ion-avatar slot="end">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<side-menu contentId="body">
  <ion-content content>
    <ion-accordion-group>
      <ion-accordion *ngFor="let item of group">
        <ion-item slot="header">
          <ion-label class="item-title">{{ item.title }}</ion-label>
        </ion-item>
        <ion-list contentId="body" slot="content">
        
          <ion-item *ngFor="let path of item.paths" 
                    [routerLink]="path.url"
                    [queryParams]="getPathParam( path )"
                    routerDirection="root"
                    [routerLinkActive]="['active-item']"
                    (click)="setPathParam( path )">{{ path.label }}</ion-item>

        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
  </ion-content>
</side-menu>