<ion-row id="modal-header">
  <ion-col sizeLg="11" sizeXl="11">Formulário de atendimento</ion-col>
  <ion-button (click)="close()" id="close-button" color="danger">&#x2715;</ion-button>
</ion-row>
<ion-content>
  <form>
    <ion-row>
      <ion-col sizeXl="2" sizeLg="3" sizeMd="4" sizeSm="6" sizeXs="6">
        <ion-label>Tipo</ion-label>
        <ion-input [placeholder]="attendance.type" readonly></ion-input>
      </ion-col>
      <ion-col sizeXl="3" sizeLg="3" sizeMd="4" sizeSm="6" sizeXs="6">
        <ion-label>Protocolo</ion-label>
        <ion-input [placeholder]="attendance.protocol" readonly></ion-input>
      </ion-col>
      <ion-col sizeXl="2">
        <ion-label>Dia</ion-label>
        <ion-input placeholder="{{ attendance.issued_at | date: dateFormat }}" readonly></ion-input>
      </ion-col>
      <ion-col sizeXl="1">
        <ion-label>Hora</ion-label>
        <ion-input placeholder="{{ attendance.issued_at | date: timeFormat }}" readonly></ion-input>
      </ion-col>
      <ion-col sizeXl="4" sizeSm="6" sizeXs="6">
        <ion-label>Responsável</ion-label>
        <ion-input placeholder="{{ attendance.responsible.name }}" readonly></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>Descrição</ion-label>
        <ion-textarea rows="7" [placeholder]="attendance.description" readonly></ion-textarea>
      </ion-col>
      <ion-col size="12">
        <ion-label style="line-height: 25px;">Avalie o serviço:</ion-label>
      </ion-col>
      <ion-col>
        <ion-button style="height: 25px;" 
                    color="success"
                    (click)="upVote()">
          <ion-icon name="thumbs-up-sharp"></ion-icon>
        </ion-button>
        <ion-button style="height: 25px; margin-left:5px" 
                    color="danger"
                    (click)="downVote()">
          <ion-icon name="thumbs-down-sharp"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-label>Comente sua avaliação</ion-label>
        <ion-textarea [(ngModel)]="attendance.feedback" 
                      [ngModelOptions]="{standalone: true}" 
                      rows="4"></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="10" sizeMd="10" sizeSm="9" sizeXs="8">&nbsp;</ion-col>
      <ion-col sizeLg="1" sizeMd="2" sizeSm="3" sizeXs="4">
        <ion-button style="width:100%" (click)="save()">Salvar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>