<ion-content>
  <ion-row>
    <ion-col id="col-title" size="8">
      <ion-label id="title">Colaboradores</ion-label>
    </ion-col>
    <ion-col size="4">
      <ion-button (click)="create()" color="success" id="user-modal">Criar</ion-button>
    </ion-col>
  </ion-row>
  <data-table [headerTitles]="titles" [width]="90">
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.department.name }}</td>
        <td>
          <ion-badge (click)="selectUser( user )">Detalhes</ion-badge>
        </td>
      </tr>
      <tr *ngIf="!users || !users.length">
        <td colspan="100">Não há outros colaboradores</td>
      </tr>
  </data-table>
</ion-content>

<ion-modal trigger="user-modal">
  <ng-template>
    <ion-content>
      <ion-row id="modal-header">
        <ion-col>&nbsp;</ion-col>
        <ion-col size="1">
          <ion-button (click)="closeModal()" color="danger" id="modal-close-button">&#x2715;</ion-button>
        </ion-col>
      </ion-row>
      <h2 style="text-align: center;">Novo Colaborador</h2>
      <ion-row>
        <ion-col>
          <ion-input [(ngModel)]="newUser.username" placeholder="Matrícula"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input [(ngModel)]="newUser.name" placeholder="Nome"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-input [(ngModel)]="newUser.cpf" placeholder="CPF" maxLength="11"></ion-input>
        </ion-col>
        <ion-col size="8">
          <ng-container *ngIf="specialDepartment()">
            <select [(ngModel)]="newUser.department.name" style="width: 100%;">
              <option disabled selected>Selecione a secretaria</option>
              <option *ngFor="let dept of deptList"
                      [value]="dept.name">{{ dept.name }}</option>
            </select>
          </ng-container>
          <ng-container *ngIf="!specialDepartment()">
            <ion-input [value]="newUser.department" readonly></ion-input>
          </ng-container>
        </ion-col>
      </ion-row>
      <ion-row class="question-radio">
          <label>Conceder permissões de administrador?</label>
          <input [(ngModel)]="newUser.is_admin" [value]="'true'" 
                  type="radio" name="permission" id="is_admin"> Sim
          <input [(ngModel)]="newUser.is_admin" [value]="'false'" 
                  type="radio" name="permission" id="no_admin" checked> Não
      </ion-row>
      <ion-row>
        <ion-col offset="9" size="3">
          <ion-button (click)="save( newUser )">Gravar</ion-button>
        </ion-col>
      </ion-row>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="modalOpen">
  <ng-template>
    <ion-content>
      <ion-row id="modal-header">
        <ion-col>&nbsp;</ion-col>
        <ion-col size="1">
          <ion-button (click)="closeModal()" color="danger" id="modal-close-button">&#x2715;</ion-button>
        </ion-col>
      </ion-row>
      <h2 style="text-align: center;">Edição de dados do Colaborador</h2>
      <ion-row>
        <ion-col>
          <ion-input [placeholder]="selectedUser.username" readonly></ion-input>
        </ion-col>
        <ion-col>
          <ion-input [value]="selectedUser.name"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-input [value]="selectedUser.cpf"></ion-input>
        </ion-col>
        <ion-col size="8">
          <ng-container *ngIf="!editDepartment">
            <ion-input [value]="oldDept.name" readonly></ion-input>
          </ng-container>
          <ng-container *ngIf="editDepartment">
            <select [(ngModel)]="newDept" style="width: 100%">
              <option *ngFor="let dept of deptList"
                      [value]="dept.name">{{ dept.name }}</option>
            </select>
          </ng-container>
          <ion-row *ngIf="specialDepartment()" style="font-size:12px;margin-top:5px;">
            <label>Editar secretaria?</label>
            <input [(ngModel)]="editDepartment" 
                   [value]="true" type="radio" name="dept" id="edit"> Sim
            <input [(ngModel)]="editDepartment" 
                   [value]="false" type="radio" name="dept" id="no_edit" checked> Não
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="question-radio">
          <label>Permissões de administrador:</label>
          <input [(ngModel)]="selectedUser.is_admin" [value]="'true'" type="radio" name="permission" id="is_admin"> Sim
          <input [(ngModel)]="selectedUser.is_admin" [value]="'false'" type="radio" name="permission" id="no_admin" checked> Não
      </ion-row>
      <ion-row>
        <ion-col offset="9" size="3">
          <ion-button (click)="save( selectedUser )" >Gravar</ion-button>
        </ion-col>
      </ion-row>
    </ion-content>
  </ng-template>
</ion-modal>