<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cadastro Macaé</title>
        <link rel="stylesheet" type="text/css" href="../static/css/login.css" th:href="@{/css/login.css}">
        <link rel="icon" type="image/x-icon" href="../static/img/emblema-prefeitura.png" th:href="@{/img/emblema-prefeitura.png}">
        <meta http-equiv="Content-Type" content="text/html;width=device-width;initial-scale=1" charset="utf-8" name="viewport">
    </head>
    <body>
        <div id="login-card">
            <label>Acesso Negado</label>
            <a onclick="history.back()">Voltar</a>
        </div>
    </body>
</html>