<ion-header id="main-content">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Macaé Fiscaliza</ion-title>
    <ion-avatar *ngIf="isAuthenticated" id="avatar-icon" slot="end">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<side-menu>
  <ion-content content>
    <ion-list *ngIf="isAuthenticated">
      <ion-item *ngFor="let path of paths" 
                [routerLink]="path.url"
                routerDirection="root"
                (click)="closeMenu()">{{ path.label }}</ion-item>
    </ion-list>
    <ion-list *ngIf="!isAuthenticated">
      <ion-item href="/start">Voltar para tela inicial</ion-item>
    </ion-list>
  </ion-content>
</side-menu>

<ion-popover trigger="avatar-icon" side="bottom">
  <ng-template>
    <ion-content>
      <ion-list class="account-menu">
        <ion-item (click)="jumpToUserForm()">Configurações</ion-item>
        <ion-item (click)="logout()">Sair</ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>