<ion-header id="main-content">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Macaé Fiscaliza</ion-title>
    <ion-avatar slot="end">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<side-menu>
  <ion-content content>
    <ion-list>
      <ion-item>Criar ocorrência</ion-item>
      <ion-item>Minhas ocorrências</ion-item>
      <ion-item>Categorias</ion-item>
      <ion-item>Secretarias</ion-item>
      <ion-item>Serviços</ion-item>
    </ion-list>
  </ion-content>
</side-menu>