<div id="login-form-body">
    <legend>Solicite atendimento de forma:</legend>
    
    <div class="row">
        <card-button (click)="login()" class="col" id="login-card">
            <img src="../../../../../../assets/icons/user.svg" id="user-icon" img>
            <label legend>Autenticada</label>
        </card-button>
        <label>ou</label>
        <card-button (click)="anonymousForward()" class="col" id="anonymous-card">
            <img src="../../../../../../assets/icons/secret-user.svg" id="secret-user-icon" img>
            <label legend>Anônima</label>
        </card-button>
    </div>
</div>