* {
    text-align: start;
}

h1 {
    text-align: center;
}

form {
    width: 98%;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(73, 73, 73);
    margin-bottom: 10px;
}

ion-row {
    line-height: 25px;
}

ion-col {
    line-height: 30px;
    margin: auto;
}

ion-datetime {
    margin: auto;
    height: 100%;
    width: 100%;
}

ion-input, select {
    box-shadow: 1px 1px 3px rgb(73, 73, 73);
    height: 30px;
    line-height: 25px;
    border-radius: 5px;
    --background: white;
    background-color: white;
    color: black;
}

ion-button {
    height: 30px;
}

button.time-body::after {
    content: "Hs";
}

.chart {
    height: 250px;
    width: 250px;
    margin: auto;
    display: flex;
}