ion-card {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    --background: #e2e2e2;
}

h1, h2 {
    text-align: center;
}

ion-label {
    color: rgb(26, 26, 26);
}

ion-row {
    margin-top:10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px rgb(73, 73, 73);
    border-radius: 5px;
}

ion-input, ion-select, ion-textarea {
    box-shadow: 1px 1px 3px rgb(116, 116, 116);
    border-radius: 5px;
    --background: white;
    background-color: white;
}

ion-button {
    float: right;
    margin-bottom: 10px;
}