<ion-card>
  <ion-card-content>
    <form [formGroup]="form" (ngSubmit)="sendData()">
      <h1>Solicite o serviço</h1>
      <ion-label>Serviço</ion-label>
      <ion-input formControlName="dutyDescription" id="duty-input" placeholder="Serviço"readonly></ion-input>
     
      <hr><hr>
      <ion-label position="stacked">Endereço</ion-label>

      <div id="address-line">
        <ion-input formControlName="zipCode" placeholder="Cep"></ion-input>  
        <ion-select formControlName="district" placeholder="Bairro" >
          <ion-select-option *ngFor="let district of districtList"  
                              value="{{ district.name }}">{{ district.name }}</ion-select-option>
        </ion-select>
      </div><hr>

      <ion-input formControlName="street" id="street" placeholder="Logradouro" ></ion-input>
        
      <hr><hr>
      <ion-label>Imagens</ion-label>
      <ion-input formControlName="images" id="image-input" type="file"></ion-input>
      <hr><hr>

      <ion-label position="floating">Descrição</ion-label>
      <ion-textarea formControlName="description" id="text-area" rows="5"></ion-textarea>
     

      <ion-button (click)="sendData()" [disabled]="!form.valid" color="tertiary">Enviar</ion-button>

    </form>
  </ion-card-content>
</ion-card>