.table {
    margin: auto;
    width:90%;
}

.table-head, .table-body {
    box-shadow: 1px 1px 3px rgb(73, 73, 73);
}

.table-head {
    background-color: var( --default-main-color );
    line-height: 30px;
    color: white; 
}

.table-body {
    margin-top: 10px;
    height: 60%;
}

.table-body > tr {
    height: 25px;
    cursor: pointer;
}

.table-body > tr:hover {
    background-color: rgb(85, 85, 85);
    color: white;
}

.table-body > td {
    word-wrap: break-word;
}