.main {
    border-radius: 2px;
    display: grid;
    margin: auto;
    text-align: center;
    background-color: inherit;

    box-shadow: 1px 1px 2px 3px #474747, -1px -1px 2px 3px #474747 ;
    transition: box-shadow .5s;
    transition-timing-function: ease-in-out;
}

.img {
    margin: auto;
    margin-bottom: 30%;
    height: 20% !important;
    width: 20% !important;
    filter: invert( 0% );
}

.main > .legend {
    margin-bottom: 5%;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

.main:hover {
    box-shadow: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: inset 1px 1px 2px 3px #474747, inset -1px -1px 2px 3px #474747;
    transition: box-shadow .5s;
    transition-timing-function: ease-in-out;
}

.main:hover > * {
    filter: invert( 30% );
}

