ion-card {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    --background: #e2e2e2;
}

h1, h2 {
    text-align: center;
}

ion-label {
    color: rgb(26, 26, 26);
}

ion-row, table, ion-badge {
    box-shadow: 1px 1px 3px rgb(73, 73, 73);
}

ion-row {
    margin-top:10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

ion-input, ion-select, ion-textarea, .img-section {
    box-shadow: 1px 1px 3px rgb(116, 116, 116);
    border-radius: 5px;
    --background: white;
    background-color: white;
}

ion-button {
    float: right;
    margin: 10px;
}

.img-section{
    margin-bottom: 10px;
}

#img-input{
    opacity: 0;
    position: absolute;
    z-index: 999;
}

#img-input:hover{
    cursor: pointer;
}

table {
    width: 95%;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 5px;
}

thead {
    background-color: var(--default-main-color);
    color: white;
    border-radius: 5px;
}

#first-th{
    border-radius: 5px 0px 0px;
}

#last-th{
    border-radius: 0px 5px 0px 0px;
}

tbody {
    margin-bottom: 10px;
}

tbody > tr {
    border-top: 1px solid #454545;
    border-bottom: 1px solid #454545;
}

ion-badge {
    cursor: pointer;
    margin: 2px 2px;
    padding: 5px 5px;
}