html, body {
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    background-image: url("../img/login-background.jpg");
    background-size: cover;
}

#login-card {
    background-color: #cdcdcd;
    display: grid;
    width: 50%;
    height: 70%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px #0e0e0e, -1px -1px 2px 1px #454545;
}

#login-card > * {
    margin: auto;
    display: grid;
    width: 70%;
    vertical-align: middle;
}
#login-card > label {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

#login-card > form {
    margin-top: 0;
}

#login-card > form > * {
    margin: auto;
    width: 85%;
}

#login-card > form > label {
    font-size: 15px;
}

#login-card > form > input {
    margin-bottom: 5%;
    line-height: 25px;
    font-size: 20px;
}

button, .fake-button {
    cursor: pointer;
    margin: auto;
    margin-top: 15%;
    width: 85%;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: #6565ab;
    box-shadow: 1px 1px 3px rgb(73, 73, 73);
}
button:hover, .fake-button:hover {
    box-shadow: none;
}

.fake-button:click {
    box-shadow: -1px -1px -3px rgb(73, 73, 73);
}

#login-card > form > input:focus {
    outline: none;
}

.message {
    margin: auto;
    text-align: center;
}

@media screen and ( max-width: 810px ) {
    #login-card {
        width: 80%;
        height: 80%;
    }
    #login-card > * {
        width: 70%;
    }
}

@media screen and ( max-width: 610px ) {
    #login-card {
        width: 95%;
        height: 95%;
    }
    #login-card > * {
        width: 90%;
    }
}