#navbar {
    background-color: #5053ff;
    margin: auto;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#menu-button {
    width: 10%;
    margin: auto;
}

#title {
    margin: auto;
    width: 80%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
}

#avatar {
    width: 10%;
    margin: auto;
    display: flex;
}

#menu-button > * {
    padding-left: 10px;
    height: 80%;
    width: 20%;
    filter: invert( 100% );
}

#avatar > * {
    width: 21%;
    height: 20%;
    margin:auto;
}