<navbar></navbar>

<ion-content>

  <ng-container *ngIf="!selectedCall">
    <ion-row>
      <ion-label>Histórico de Ocorrências</ion-label>
    </ion-row>
    <data-table [headerTitles]="titles" [width]="90">
      <tr *ngFor="let call of history">
        <td>{{ call.duty.description }}</td>
        <td>{{ call.status }}</td>
        <td>{{ call.address.district.name }}</td>
        <td>{{ call.created_at | date:"dd/MM/y" }}</td>
        <td>{{ call.created_at | date:"HH:mm" }}</td>
        <td>
          <ion-badge color="success" (click)="getDetails( call )">Detalhar</ion-badge>
        </td>
      </tr>
    </data-table>
  </ng-container>

  <ng-container *ngIf="selectedCall">
    <ion-button (click)="selectedCall = null"
                id="back-button"
                color="tertiary">Voltar</ion-button>
    <call-history-form [call]="selectedCall"
                       [attendances]="attendances">
    </call-history-form>
  </ng-container>

</ion-content>