ion-label {
    text-align: start;
    margin-left: 10px;
}

ion-content{
    background-color: #cfcfcf;
}

h1 {
    text-align: center;
}

ion-button {
    display: flex;
    float: right;
}

#close-button {
    margin-top: 2px;
    height: 25px;
}

.question-radio {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
}